{% extends ('@App/Layout/backoffice-base.html.twig') %}

{% block body %}
<section class="form-all">

    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2">

            <div class="comment">

                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <p>Prénom {{ new_comment.user.userProfile.firstname }}</p>
                        <p>Nom {{ new_comment.user.userProfile.firstname }}</p>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <p>Date de création {{ new_comment.creationDate|date("d/m/Y") }}</p>
                    </div>
                    <div class="col-xs-12">
                        {{ form_start(form_comment) }}
                        {{ form_row(form_comment.comment) }}
                        {{ form_row(form_comment._token) }}
                        {{ form_row(form_comment.submit) }}
                        {{ form_end(form_comment) }}#}

                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

