{% extends ('@App/Layout/backoffice-base.html.twig') %}

{% block body %}
    <section class="form-all">

        <h2>Editer</h2>

        <h3>Ticket n°{{ ticket.id }} - société {{ ticket.user.company.name }}</h3>

        {% include ('@App/Elements/include.flashBagMessage.html.twig') %}

        {% if is_granted('ROLE_PROJECT_RESP')%}
            <div class="row ticket-edit-margin">
                <div class="col-xs-12 no-margin-no-padding">
                    <a class="btn btn-model-small" aria-hidden="true" href="{{ path('ticket_update', {'ticket' :ticket.id}) }}">Modifier tout le ticket</a>
                </div>
            </div>
        {% endif %}

        <div class="row ticket-edit-margin">
            <div class="col-xs-12 ticket-table-block">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Produit</th>
                        <th>Type de catégorie</th>
                        <th>Titre de catégorie</th>
                        <th>Origine</th>
                        <th>Type</th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr>
                        <td>{{ ticket.user.userprofile.lastname }}</td>
                        <td>{{ ticket.product.name }}</td>
                        <td>{{ ticket.category.type }}</td>
                        <td>{{ ticket.category.title }}</td>
                        <td>{{ ticket.origin }}</td>
                        <td>{{ ticket.type }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Sujet</th>
                        <th>Explication</th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr>
                        <td>{{ ticket.subject }}</td>
                        <td class="text-justify">{{ ticket.content }}</td>
                    </tr>
                    </tbody>
                </table>


                <table class="table table-responsive table-bordered table-condensed ticket-table-no-margin">
                    <thead>
                    <tr>
                        <th>Fichier uploadé</th>
                        <th>Date de création</th>
                        <th>Date d'actualisation</th>
                        <th>Date de clôture</th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr>

                        <td><button type="button" data-toggle="modal" data-target="#myModal">
                                <img src="{{ asset('assets/upload/' ~ ticket.upload) }}" width = "150px"/>
                            </button></td>
                        <td>{{ ticket.creationdate|date("d/m/Y") }}</td>
                        <td>{{ ticket.updatedate|date("d/m/Y") }}</td>
                        <td>{{ ticket.creationdate|date("d/m/Y") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Fichier uploadé</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ asset('assets/upload/' ~ ticket.upload) }}" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ticket-edit-margin">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
                {{ form_start(editTicketForm) }}
                <div>{{ form_row(editTicketForm.emergency) }}</div>
                <div>{{ form_row(editTicketForm._token) }}</div> {#necessary to get session#}
                <div>{{ form_row(editTicketForm.status) }}</div>
                <div>{{ form_row(editTicketForm.isArchive) }}</div>
                <div class="text-center">{{ form_row(editTicketForm.submit) }}</div>
                {{ form_end(editTicketForm) }}

                <div class="text-center">
                    <a class="btn btn-back" aria-hidden="true" href="{{ path('ticket_index') }}">Retour à la liste des tickets</a>
                </div>
            </div>
        </div>



        <div class="row comment-border">
            <div class="col-xs-12">
                <h3>Commentaires</h3>

                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">

                        <div class="text-center">
                            <button class="btn btn-model-small" aria-hidden="false" type="button" data-toggle="collapse" data-target="#add-comment" aria-expanded="false" aria-controls="add-comment">Ajouter</button>
                        </div>

                        <div id="add-comment" class="collapse add-new-comment">

                            <div class="row">

                                <div class="col-xs-12">
                                    {{ form_start(addCommentForm) }}
                                    <div>{{ form_row(addCommentForm.comment) }}</div>
                                    {{ form_row(addCommentForm._token) }}
                                    <div class="text-center">{{ form_row(addCommentForm.submit) }}</div>
                                    {{ form_end(addCommentForm) }}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>



                {%  for comment in comments %}
                    <div class="row ">
                        <div class="col-xs-10 col-xs-offset-1">


                            <div class="comment-unit">

                                <div class="row comment-content1">
                                    <div class="col-xs-12 col-lg-4">
                                        {{ comment.firstname }}{{ " " }}{{ comment.lastname }}

                                    </div>
                                    <div class="col-xs-12 col-lg-4">
                                        Date de création {{ comment.creationDate|date("d/m/Y") }}
                                        {#{% if comment.updateDate is not null %}
                                            <p>Date d'actualisation  {{ comment.updateDate|date("d/m/Y") }}</p>
                                        {% endif %}#}
                                    </div>

                                    <div class="col-xs-12 col-lg-4">
                                        {% if comment.user_id == app.user.id or is_granted('ROLE_PROJECT_RESP')%}

                                            <div class="text-right">
                                                <a href="{{ path('comment_delete', {"comment" : comment.id}) }}" type="button" class="fa fa-trash-o" aria-hidden="true"></a>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="row comment-content2">
                                    <div class="col-xs-12 text-justify">
                                        <div>{{ comment.comment }}</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                {% endfor %}




            </div>
        </div>


    </section>
{% endblock %}