{% extends ('@App/Layout/backoffice-base.html.twig') %}

{% block body %}
    <section class="form-all">

        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>N° de ticket</th>
                        <th>Société</th>
                        <th>Utilisateur</th>
                        <th>Produit</th>
                        <th>Catégorie</th>
                        <th>Sujet</th>
                        <th>Explication</th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr>
                        <td>{{ informations.id }}</td>
                        <td>{{ informations.user.company.name }}</td>
                        <td>{{ informations.user.userprofile.lastname }}</td>
                        <td>{{ informations.product.name }}</td>
                        <td>{{ informations.category.title }}</td>
                        <td>{{ informations.subject }}</td>
                        <td>{{ informations.content }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Origine</th>
                        <th>Type</th>
                        <th>Fichier uploadé</th>
                        <th>Date de création</th>
                        <th>Date d'actualisation</th>
                        <th>Date de clôture</th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr>
                        <td>{{ informations.origin }}</td>
                        <td>{{ informations.type }}</td>
                        <td><button type="button" data-toggle="modal" data-target="#myModal">
                                <img src="{{ asset('assets/upload/' ~ informations.upload) }}" width = "150px"/>
                            </button></td>
                        <td>{{ informations.creationdate|date("d/m/Y") }}</td>
                        <td>{{ informations.updatedate|date("d/m/Y") }}</td>
                        <td>{{ informations.creationdate|date("d/m/Y") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Fichier uploadé</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ asset('assets/upload/' ~ informations.upload) }}" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                {{ form_start(form) }}
                {{ form_row(form.emergency) }}
                {{ form_row(form._token) }} {#necessary to get session#}
                {{ form_row(form.status) }}
                {{ form_row(form.isArchive) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
                <a href="{{ path('index_ticket') }}">Retour à la liste des tickets</a>
            </div>
        </div>

    </section>
{% endblock %}