{% extends ('@App/Layout/backoffice-base.html.twig') %}

{% block body %}
    <section class="form-all">

        <h2>Liste des tickets</h2>
        <div class="row ticket-filter-block">
            <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">

                <div class="row">
                    {{ form_start(searchForm) }}
                    <div class="col-xs-3">{{ form_row(searchForm.id) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.company) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.emergency) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.subject) }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-3">{{ form_row(searchForm.status) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.creationDate) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.endDate) }}</div>
                    <div class="col-xs-3">{{ form_row(searchForm.isArchive) }}</div>
                </div>

                <div class="row text-center">
                    <div>{{ form_row(searchForm.submit) }}</div>
                    {{ form_end(searchForm) }}
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 ticket-table-block">

                <table id="filter" class="table table-responsive table-bordered table-condensed ticket-table-no-margin">
                    <thead>
                    <tr>
                        <th class="text-center">N° de ticket</th>
                        <th class="text-center">Société</th>
                        <th class="text-center">Urgence</th>
                        <th class="text-center">Sujet</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center">Date de création</th>
                        <th class="text-center">Date de clôture</th>

                        <th>Archivé</th>


                    </tr>
                    </thead>

                    <tbody class="table-striped">

                    {%  for d in data %}
                        <tr>
                            <td class="text-center"><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.id }}</p></td>
                            <td><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.user.company.name }}</p></td>
                            <td><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.emergency }}</p></td>
                            <td class="ticket-subject"><a  href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.subject }}</a></td>
                            <td><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.status }}</p></td>
                            <td><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.creationdate|date("d/m/Y") }}</p></td>
                            <td><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.Enddate|date("d/m/Y") }}</p></td>
                            {# <td><a href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d._token }}</a></td>#}

                            {#{% if try.role == app.user.role and is_granted('ROLE_ADMIN') %}#}

                            <td class="text-center"><p href="{{ path('ticket_edit', {"ticket": d.id}) }}">{{ d.isArchive }}</p></td>
                            {#{% endif %}#}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-xs-8 col-xs-offset-2">
                {% include('@App/Elements/paginator.html.twig') %}
            </div>
        </div>


        <div class="row text-center">
            <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">
                <div>
                    <a class="btn btn-model-small" href="{{ path('ticket_add') }}">Ajouter un ticket</a>
                </div>
            </div>
        </div>



    </section>




{% endblock %}

