{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block title %}
    {{ titlePage }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="bo-title-page col-lg-12">
                <h1>{{ titlePage }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p class="notice-field">*Tous les champs sont obligatoires</p>
                {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
