{% extends '@App/backoffice-base.html.twig' %}

{% block title %}
    Liste des dictionnaires
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="bo-title-page col-lg-12">
                <h1>Liste des dictionnaires</h1>
            </div>

            <div class="bo-title-page col-lg-12">
                {% include '@App/Elements/flash_bag_message.html.twig' %}
            </div>

            {# list of all dictionary #}
            <div id="dictionarys-list" class="col-lg-12">
                {% import 'AppBundle:Elements:macro.dictionaryForm.html.twig' as personalForm %}

                {% set loop = 0 %}
                {% for title,dictionary in dictionarys %}
                    <div class="col-lg-4 dictionary-list">
                        {#{{ dump(loop) }}
                        {{ dump(listName) }}#}
                        <h3></h3>
                        <ul id="{{ title }}" class="list-group">
                            {% for elementList in dictionary %}
                                <li id="list_group_item_{{ elementList.id }}" class="list-group-item">
                                    <span id="li_value_{{ elementList.id }}">
                                        {{ elementList.value }}
                                    </span>
                                    <span class="badge">
                                        <a class="modal-update" href="" data-toggle="modal" data-target="#dictionary-modal-update">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </a>
                                        <a class="modal-delete" href="" data-toggle="modal" data-target="#dictionary-modal-delete">
                                            <i class="fa fa-close" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <form method="post" class="dictionary_form">
                            <div class="form-group">
                                <input type="text" name="{{ title }}" class="form-control required"
                                       data-index-number="{{ title }}" required="required">
                            </div>
                        </form>
                    </div>
                    {# TODO => Print a french title in list #}
                {% endfor %}
            </div>
        </div>
    </div>

    {# dictionary update modal #}
    <div id="dictionary-modal-update" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modificatation du dictionnaire</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="dictionary_form_update">
                        <div class="form-group">
                            <input id='dictionary_input_update' type="text" name="_value"
                                   class="form-control required" required="required">
                            <input type="submit" name="_submit" class="form-control required"
                                   value="Enregistrer les modifications">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {# dictionary delete modal #}
    <div id="dictionary-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Suppression d'une entrée du dictionnaire</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sur de vouloir supprimer l'entrée
                        <span id="dictionary_delete_value" class="be-strong text-color-2"></span> du dictionnaire</p>
                    <a id="dictionary_link_delete" href="" class="text-color-1"
                       data-dismiss="modal">Je confirmer vouloir supprimer cette entrée</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/page.dictionary.js') }}"></script>
{% endblock %}