{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block body %}
    <div class="validate">
        <div class="row validation-user">
            <div class="col-xs-12 col-xs-offset-0 col-lg-12 col-lg-offset-0">
                <table class="table table-striped table-bordered display" id="register">
                    <thead>
                    <tr>
                        <th>Entreprise</th>
                        <th>Email/login</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Mobile</th>
                        <th>Roles</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for user in User %}
                        <tbody class="table-striped" id="register">
                        <tr>
                            <td>{{ user.company.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.userProfile.firstname }}</td>
                            <td>{{ user.userProfile.lastname }}</td>
                            <td>{{ user.userProfile.phone }}</td>
                            <td>{% for role in user.roles %}
                                    {% if(role == "ROLE_ADMIN") %}
                                        Administrateur
                                    {% elseif(role == "ROLE_COMMERCIAL") %}
                                        Commercial
                                    {% elseif(role == "ROLE_TECHNICIAN") %}
                                        Technique
                                    {% elseif(role == "ROLE_PROJECT_RESP") %}
                                        Responsable Projet
                                    {% elseif(role == ("ROLE_TECHNICIAN" and "ROLE_COMMERCIAL")) %}
                                        Commercial et Technique
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if user.isActiveByAdmin == true %}
                                <td>
                                    <a  href="{{ path('activate_register', {'id': user.id }) }}">
                                        <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
                                    </a>
                                </td>
                            {% elseif user.isActiveByAdmin == false %}
                                <td>
                                    <a  href="{{ path('activate_register', {'id': user.id }) }}">
                                        <i class="fa fa-ban fa-2x" aria-hidden="true"></i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                <a  href="{{ path('user_edit', { 'id': user.id }) }}">
                                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>

                            <td>
                                <a  href="{{ path('delete_register', {'id': user.id }) }}">
                                    <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if pagination.page > 1 %}
                            <li class="page-item"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}">Début</a></li>
                            <li class="page-item"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">Précédent</a></li>
                        {% endif %}
                        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
                        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
                            <li class="page-item"><a{% if p == pagination.page %} class="current-page page-link" {% endif %} href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
                        {% endfor %}

                        {% if pagination.page<pagination.pages_count %}
                            <li class="page-item"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">Suivant</a></li>
                            <li class="page-item"><a class="page-link" href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">Fin</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {# <tbody class="table-striped">
                 {%  for d in data %}

                     <tr>
                         <td><a href="{{ path('validation_register', {"user": d.id }) }}">{{ d.user.company.name }}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.email }}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.userProfile.firstname }}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.userProfile.lastname }}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.roles }}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.isActiveByAdmin}}</a></td>
                         <td><a href="{{ path('validation_register', {"user": d.id}) }}">{{ d.user.roles}}</a></td>

                     </tr>
                 {% endfor %}
                 </tbody>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
