<nav class="navbar navbar-default inline-navbar bo-header visible-xs " role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="dropdown visible-xs" style="float:right">
            <a href="#" class="dropbtn"><i class="fa fa-user-circle fa-2x"></i></a>
            <div class="dropdown-content">
                <a href="{{ path('account_result') }}"><i class="fa fa-cog" aria-hidden="true"></i>
                    Mon compte
                </a>
                <a href="{{ path('change_password') }}"><i class="fa fa-key" aria-hidden="true"></i>
                    Mot de passe
                </a>
                <a href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>
                    Deconnexion
                </a>
            </div>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('home') }}">
                    CommunIt
                </a>
            </li>
            <li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('ticket_index', {'page': 1}) }}">Tickets</a></li>
            <li><a href="{{ path('evolutionHome') }}">Evolutions techniques</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('dictionaryHome') }}">Dictionnaire</a></li>
                <li><a href="{{ path('categoryHome') }}">Catégories</a></li>
                <li><a href="{{ path('validation_register', {'page' : 1}) }}">Validation register</a></li>
            {% endif %}
            {% if is_granted('ROLE_PROJECT_RESP') %}
                <li><a href="{{ path('validation_associate') }}">Associate</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
