<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="{{ path('home') }}">
            CommunIt
        </a>
    </li><li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
    <li><a href="{{ path('index_ticket', {'page': 1}) }}">Tickets</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('dictionaryHome') }}">Dictionnaire</a></li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('validation_register') }}">Gestionnaire de compte</a></li>
    {% endif %}
    {% if is_granted('ROLE_PROJECT_RESP') %}
        <li><a href="{{ path('validation_associate') }}">Gestionnaire associés</a></li>
    {% endif %}
</ul>
