{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    Change password - {{ parent() }}
{% endblock %}

{% block body %}
    <section id="password-reset">

        <div class="container form">
            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-info">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container form">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    <div class="form-wrap">
                        <hr>
                        <p class="form-paragraph">Changez votre mot de passe</p>
                        <div class="form-group">
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form.passwordCompare, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.passwordCompare) }}
                        </div>
                        {{ form_row(form._token) }}
                        <div class="form-group">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-custom btn-lg btn-block form-submit-button'}}) }}
                        </div>
                        <hr>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


