{% extends '@App/Email/email.base.html.twig' %}

{% block title %}
    Nouvelle évolution en attente !
{% endblock %}

{% block main %}
    <h1 class="color1" style="color: #9ac00a">Changement de status !</h1>

    <p>Bonjour,</p>
    <p>
        Bonjour votre évolution a été modifié !!
        Pour la consulter rendez-vous sur ce lien :<br>
        <a href="{{ url }}">{{ url }}</a>
    </p>

    <hr>

    <div class="information">
        <h3>Récapitulatif de la demande</h3>
        <table style="border-collapse: collapse">
            <thead>
                <tr style="color: #DD5115">
                    <th style="border: 1px solid #000; padding: 0.5rem;">Status</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">Nom</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">Type de catégorie</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">Catégorie</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="border: 1px solid #000; padding: 0.5rem;">{{ evolution.status.value }}</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">{{ evolution.title }}</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">{{ evolution.category.type.value }}</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">{{ evolution.category.title }}</th>
                    <th style="border: 1px solid #000; padding: 0.5rem;">{{ evolution.creationDate|date('d/m/Y') }}</th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}