{% extends ('@App/backoffice-base.html.twig') %}

{% block body %}

    <section class="form-all">

    <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2">
    <h2>Liste des tickets</h2>
    <table class="table table-responsive table-bordered table-condensed">

    <thead >
    <tr class="text-center">
        <th>Société</th>
        <th>N° de ticket</th>
        <th>Sujet</th>
        <th>Statut</th>
    </tr>
    </thead>

    <tbody class="table-striped">
    {%  for ticket in tickets %}
        <tr>
        {% if ticket.isarchive = true %}
            <td><a href="{{ path('edit_ticket', {"ticket": ticket.id}) }}">{{ ticket.user.company.name }}</a></td>
            <td><a href="{{ path('edit_ticket', {"ticket": ticket.id}) }}">{{ ticket.id }}</a></td>
            <td><a href="{{ path('edit_ticket', {"ticket": ticket.id}) }}">{{ ticket.subject }}</a></td>
            <td><a href="{{ path('edit_ticket', {"ticket": ticket.id}) }}">{{ ticket.status }}</a></td>
{% endif %}
            </tr>
            {% endfor %}
            </tbody>

            </table>

            <a href="{{ path('add_ticket') }}">Ajouter un ticket</a>
            </div>
            </div>

            </section>

            {% endblock %}