{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block title %}

    {# Todo : TITRE A CRACHER #}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jQueryTe/jquery-te-1.4.0.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form) }}
                {{ form_row(form.content) }}
                <div class="be-flex space-between">
                    {{ form_row(form.submit) }}
                    {% if (type == 'charte') %}
                        <a href="{{ path('charteIndex') }}">Retourner voir la charte</a>
                    {% elseif (type == 'mentions') %}
                        <a href="{{ path('mentionsIndex') }}">Retourner voir les mentions légales</a>
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
       </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jQueryTe/jquery-te-1.4.0.min.js') }}"></script>
    <script>$("textarea").jqte();</script>
{% endblock %}