{% extends '@App/backoffice-base.html.twig' %}

{% block title %}
    Nouvelle évolution
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="bo-title-page col-lg-12">
                <h2>Modification d'évolution</h2>
            </div>
        </div>

        {{ dump(category) }}
        {{ dump(categoryType) }}

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {{ form_start(form) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.sum_up) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.reason) }}
                    {{ form_row(form.origin) }}
                    {{ form_row(form.expectedDelay) }}
                    {{ form_row(form.product) }}
                    {{ form_row(form.category_type) }}
                    {% if form.category is defined %}
                        {{ form_row(form.category) }}
                    {% endif %}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.add-category-title.js') }}"></script>
{% endblock %}