<div class="buttons-content">
    <div class="buttons-block large-screen hidden-sm hidden-xs">
        <a href="{{ path('evolutionAdd') }}"
           class="simple-btn-1">Nouvelle évolution</a>

        <a href="{{ path('evolutionUser') }}"
           class="simple-btn-1">Mes évolutions</a>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('evolutionWaiting') }}"
           class="simple-btn-1">Evolutions en attente</a>
        {% endif %}
    </div>
    <div class="buttons-block dropdown small-screen hidden-md hidden-lg">
        <a href="" class="dropdown-toggle simple-btn-1" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">
             Action<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('evolutionAdd') }}">
                    Nouvelle évolution</a></li>
            <li><a href="{{ path('evolutionUser') }}">
                    Mes évolutions</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('evolutionWaiting') }}">
                    Evolutions en attente</a></li>
            {% endif %}
        </ul>
    </div>
</div>