{% extends '@App/back_office_base.html.twig' %}

{% block title %}
    Evolutions techniques
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="bo-title-page col-lg-12">
                <h2>Evolutions techniques</h2>
            </div>

            <div class="col-lg-12">
                {{ dump(test) }}
                {{ dump(evolutions) }}
            </div>

            <div class="bo-title-page col-lg-12">
                <h3>Nos dernière évolutions techniques</h3>
            </div>

            {% for evolution in evolutions %}
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-top-line">{{ evolution.status }}</div>
                            <h4>{{ evolution.title }}</h4>
                        </div>
                        <div class="panel-footer">
                            <p>{{ evolution.sumUp }}</p>

                            <p>Debut : {{ evolution.creationDate|date("d/m/Y", "Europe/Paris") }}</p>
                            <p>Fin : {{ evolution.expectedDelay|date("d/m/Y", "Europe/Paris") }}</p>
                        </div>
                    </div>
                    {{ dump(evolution) }}
                </div>
            {% endfor %}

            <div class="col-lg-12">
                {% include '@App/Elements/include.pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}