{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block title %}
    Evolutions techniques
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include '@App/Pages/Evolutions/buttonBarEvolutions.html.twig' %}

            <div class="bo-title-page col-lg-12">
                <h2>Evolutions techniques</h2>
            </div>

            <div class="col-lg-12">
                {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.status) }}
                </div>
                <div class="col-md-6">
                {{ form_row(form.categoryType) }}
                </div>
                <div class="col-md-6">
                {{ form_row(form.category) }}
                </div>
                <div class="col-xs-12">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>

            <div class="row list-evolution">
                {% for evolution in data %}
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <div class="bo-evolution">
                            <div class="bo-top-evolution">
                                <div class="be-flex space-between">
                                    <div class="evolution-notes">
                                        <p class="avg-note">{{ evolution.avg_notes }}</p>
                                        <p class="nb-notes"><span>{{ evolution.nb_notes }}</span> notes</p>
                                    </div>
                                    <div class="evolution-titles">
                                        <h2>{{ evolution[0].title }} - {{ evolution[0].id }}</h2>
                                    </div>
                                </div>
                                <div class="evolution-status">
                                    <p>Status : {{ evolution[0].status.value }}</p>
                                </div>
                                <div class="evolution-category">
                                    <div class="evoltuion-category-type">
                                        <p>Type de catégorie : {{ evolution[0].category.type.value }}</p>
                                    </div>
                                    <div class="evoltuion-categroy-name">
                                        <p>Nom de catégorie : {{ evolution[0].category.title }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bo-middle-evolution">
                                <ul>
                                    <li>{{ evolution[0].sumUp }}</li>
                                    {% if evolution[0].updateDate is defined %}
                                    <li>Date de modification : {{ evolution[0].updateDate|date("d/m/Y") }}</li>
                                    {% else %}
                                    <li>Date de création : {{ evolution[0].creationDate|date("d/m/Y") }}</li>
                                    {% endif %}
                                    <li>Date de fin : {{ evolution[0].expectedDelay|date("d/m/Y", "Europe/Paris") }}</li>
                                    <li>Evolution demandé par un {{ evolution[0].origin }}</li>
                                </ul>
                            </div>

                            <div class="bo-bottom-evolution">
                                <a href="{{ path('evolutionUnit', {'technicalEvolution': evolution[0].id}) }}">En savoir plus</a>

                                {% if is_granted('ROLE_ADMIN') or app.user.id == evolution[0].user_id %}
                                    <a href="{{ path('evolutionUpdate', {'technicalEvolution': evolution[0].id}) }}">Modifier l'évolution</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="col-lg-12">
                {% include '@App/Elements/include.pagination-filter.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.filter.add-category-title.js') }}"></script>
{% endblock %}