{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block title %}
    {{ evolution.title }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 unit-evolution">
                <div class="et-title"><h2>{{ evolution.title }}</h2></div>
                <div class="et-note-box">
                    <h4>Note globale: <b>{{ total }}/{{ count }}</b> avis</h4>
                    <h4>Note moyenne: <b>{{ score }}</b></h4>
                </div>

                <div class="et-sum-up"><h4>{{ evolution.sumUp }}</h4></div>
                <div class="et-status"><p>{{ evolution.status }}</p></div>
                <div class="et-category">
                    <div class="et-category-type"><p>Type de la catégorie : {{ evolution.category.type }}</p></div>
                    <div class="et-category-name"><p>Nom de la catégorie : {{ evolution.category.title }}</p></div>
                </div>

                <div class="et-content"><p>{{ evolution.content }}</p></div>
            </div>
        </div>


        <div class="row">
            {% if is_granted('ROLE_PROJECT_RESP') %}
                {% if teStatus == true  %}

                    <div class="col-lg-12">
                    {% if validity == 2 %}
                        <h4 class="vote-title add-note">Votez pour cette évolution ! </h4>
                    {% endif %}
                    {% if validity == 1 %}
                        <h4 class="vote-title">Vous avez déja voté  pour cette évolution.<br></h4>
                        <h4 class="vote-title">Vous pouvez modifier votre note. Elle est de <b>{{ noteUser }}/10</b>.
                        </h4>
                    {% endif %}
                    {% if validity == 0 %}
                        <h4 class="vote-title">Votre entreprise à déja vote pour cette évolution.<br>
                            La note est de <b>{{ noteAnotherUser }}/10</b>.
                        </h4>
                    {% endif %}
                    {% if validity == 1 or validity == 2 %}
                        {{ form_start(noteForm, {'attr': {
                            'id': 'app_bundle_note_userTechnicalEvolution'
                        }}) }}
                        <p><i>* un seul click sur l'etoile va envoyer votre note</i></p>
                        <div class="error-box"></div>
                        {% spaceless %}
                            <div class="form-group controls rating" data-index-number="{{ evolution.id }}">
                                {% for i in 0..9 %}
                                    <label class="label-star-link" data-index-number="{{ i + 1 }}">
                                        {{ form_widget(noteForm.note[i], {'attr': {'class': 'star-link' }}) }}
                                    </label>
                                {% endfor %}
                            </div>
                        {% endspaceless %}

                        {{ form_end(noteForm) }}
                        <div class="rating-counter">
                            <p class="rating-counter-value"><span class="rating-value"></span> / 10</p>
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4>Liste des commentaires</h4>
            </div>

            <div class="col-lg-12">
                <div class="add-new-comment">
                    {{ form_start(addForm, {'attr': {
                        'id': 'app_bundle_comment_userTechnicalEvolution',
                        'data-index-number': evolution.id
                    }}) }}
                    {{ form_end(addForm) }}
                </div>
                <div class="comment-list">
                    {% for comment in comments %}
                        <div id="ute_id_{{ comment.id }}" class="unit-comment">
                            <h5>{{ comment.user.userProfile.firstname }} {{ comment.user.userProfile.lastname }}</h5>
                            <i>Le {{ comment.date|date("d/m/Y")}} à {{ comment.date|date("h:i:s")}}</i>
                            <p id="comment-value-id-{{ comment.id }}" class="comment-value">{{ comment.comment }}</p>
                            <a class="modal-update" href="" data-toggle="modal" data-target="#comment-modal-update"
                                data-index-number="{{ comment.id }}">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <a class="modal-delete" href="" data-toggle="modal" data-target="#comment-modal-delete"
                                data-index-number="{{ comment.id }}">
                                <i class="fa fa-close" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="loader-wcs" data-index-number="{{ evolution.id }}">

        </div>

    </div>

    {# comment delete modal #}
    <div id="comment-modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Suppression d'un commentaire</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sur de vouloir supprimer ce commentaire ?</p>
                    <p class="delete-value"></p>
                    <a id="comment-link-delete" href="" class="text-color-1" data-dismiss="modal">Je confirmer vouloir supprimer ce commentaire</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {# comment update modal #}
    <div id="comment-modal-update" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modification d'un commentaire</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(updateForm, {'attr': {'id': 'app_bundle_comment_userTechnicalEvolution_update'}}) }}
                    {{ form_label(updateForm.comment) }}
                    {{ form_widget(updateForm.comment, {'attr': {'class': 'app_bundle_comment_userTechnicalEvolution_updateField'}}) }}
                    {{ form_end(updateForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/page.evolution-unit.js') }}"></script>
{% endblock %}