{% extends '@App/backoffice-base.html.twig' %}

{% block title %}
    Evolutions techniques
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include '@App/Pages/Evolutions/buttonBarEvolution.html.twig' %}
            {% include '@App/Elements/flash_bag_message.html.twig' %}

            <div class="bo-title-page col-lg-12">
                <h2>Mes évolutions techniques</h2>
            </div>

            {% if evolutions|length > 0 %}
                <table class="table table-bordered waiting-list">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Nom de l'évolution</th>
                        <th>Type de catégorie</th>
                        <th>Catégorie</th>
                        <th>Date de création</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for evolution in evolutions %}
                        <tr id="tr_element_{{ evolution.id }}" class="transition-2s-ease">
                            <th>{{ evolution.status }}</th>
                            <th><a href="{{ path('evolutionUnit', {'technicalEvolution': evolution.id}) }}">
                                    {{ evolution.title }}</a>
                            </th>
                            <th>{{ evolution.category_type }}</th>
                            <th>{{ evolution.category_title }}</th>
                            <th>{{ evolution.creationDate|date('d/m/Y') }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Vous n'avez jamais fais de demande d'évolution !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/page.evolution-waiting.js') }}"></script>
{% endblock %}