{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jQueryTe/jquery-te-1.4.0.css') }}">
{% endblock %}
{% block title %}
    {{ new.title }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include '@App/Elements/include.flashBagMessage.html.twig' %}

            <div class="bo-title-page col-lg-12">
                <h2>{{ new.title }}</h2>
            </div>

            <div class="news-unit col-xs-12 col-md-8 col-md-offset-2">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Type de news</th>
                        <th>Visibilité</th>
                        <th>Date de création</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{ new.type.value }}</th>
                        <th>
                            {% if new.visible == true %}
                                <p>Visible</p>
                            {% else %}
                                <p>Caché</p>
                            {% endif %}
                        </th>
                        <th>{{ new.creationDate|date('d/m/y') }}</th>
                    </tr>
                    </tbody>
                </table>

                <h4>Article :</h4>
                <div class="article">
                    <p>{{ new.content|raw }}</p>
                </div>

                <div class="link-group">
                    <a href="{{ path('newsUpdate', {'new': new.id}) }}">Modifier votre news</a>
                    <a class="modal-delete" href="" data-toggle="modal" data-target="#modal-delete">
                        Supprimer la news
                    </a>
                </div>
            </div>

            {# delete modal #}
            <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Suppression d'une news</h4>
                        </div>
                        <div class="modal-body">
                            <p>Êtes vous sur de vouloir supprimer cette news ?</p>
                            <a href="{{ path('newsDelete', {'new': new.id}) }}" class="text-color-1">
                                Je confirmer vouloir supprimer cette news
                            </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jQueryTe/jquery-te-1.4.0.min.js') }}"></script>
    <script>$("textarea").jqte();</script>
{% endblock %}